.changeArea .am-list-item .am-list-line .am-list-content {
    text-align: center;
    font-size: .426667rem;
    line-height: .853333rem;
    padding: .26rem;
    color: #666;
}
.changeArea{
    margin-top: .533333rem;
  }